/* Colors */
$lightblue: #BDDEF5;
$darkblue: #29638E;
$white: #ffffff;
$green: #3BB487;

/* Fonts
font-family: 'Raleway', sans-serif; weights: 100,400,900
font-family: 'Playfair Display', serif; weights: 400,900;
*/

nav {
  z-index: 100;
  position: fixed !important;
  padding-bottom: 10px;
  background-color: $lightblue;
  #nav-container {
    width: 320px;
    margin: 0 auto;
    text-align: center;
    display: block;
    #nav-logo {
      margin-top: 10px;
      img {
        width: 50px;
        float: left;
      }
      h1 {
        font-family: 'Raleway' , sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $darkblue;
        text-align: left;
        margin-top: 10px;
        margin-left: 10px;
        float: left;
        font-size: 1em;
        line-height: 1em;
      }
    }
    #nav-open {
      span {
        background-color: $darkblue;
        padding: 5px 10px 5px 10px;
        border-radius: 25px;
        color: $white;
        font-size: .6em;
        font-family: 'Raleway' , sans-serif;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
}
#nav-menu {
  position: fixed;
  text-align: center;
  background-color: $green;
  display: none;
  height: 100vh;
  z-index: 1000;
  #nav-close {
    width: 50px;
    margin: auto;
    padding-left: 180px;
    padding-top: 10px;
    margin-left: px;
    span {
      background-color: $darkblue;
      padding: 5px 10px 5px 10px;
      border-radius: 25px;
      color: $white;
      font-size: .6em;
      font-family: 'Raleway' , sans-serif;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
  #nav-list {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul {
      display: none;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          font-size: 3em;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media (min-width: 768px) {



}
