/* Colors */
/* Fonts
font-family: 'Raleway', sans-serif; weights: 100,400,900
font-family: 'Playfair Display', serif; weights: 400,900;
*/
/* Typography */
p {
  font-size: 1em;
  line-height: 1.75em;
  font-family: 'Playfair Display' , serif; }

h1 {
  font-size: 2em;
  font-family: 'Raleway' , sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px; }

h2 {
  font-size: 2em;
  font-family: 'Raleway' , sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px; }

h3 {
  font-size: 1.5em;
  font-family: 'Raleway' , sans-serif;
  font-weight: 900; }

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em; } }
@media (min-width: 992px) {
  h1 {
    font-size: 3em; } }
@media (min-width: 1200px) {
  h1 {
    font-size: 3.5em; } }
/* Universal */
body {
  font-size: 16px; }

@media (max-height: 374px) {
  #tooshort {
    color: #29638E;
    margin-top: 15%;
    text-align: center;
    width: 90%;
    margin: auto; }
    #tooshort a {
      color: #3BB487; }

  .content {
    display: none; } }
@media (max-width: 319px) {
  #toonarrow {
    color: #29638E;
    margin-top: 15%;
    text-align: center;
    width: 90%;
    margin: auto; }
    #toonarrow a {
      color: #3BB487; }

  .content {
    display: none; } }
@media (min-height: 375px) {
  #tooshort {
    display: none; } }
@media (min-width: 320px) {
  #toonarrow {
    display: none; } }
img {
  width: 100%; }

.advdental-container {
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important; }

header {
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  margin-top: 60px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 0px 0px 6px #000000; }
  header h1 {
    margin-top: -40px; }
  header p {
    width: 90%; }
  header ul {
    text-align: left; }
    header ul li {
      font-size: .8em;
      font-family: 'Raleway' , sans-serif;
      font-weight: 400; }
  header .down-arrow {
    margin-top: 10px;
    font-size: 1.5em; }
    header .down-arrow a {
      color: #ffffff; }
    header .down-arrow .blinkme {
      animation: blinker 4s linear infinite; }
@keyframes blinker {
  50% {
    opacity: 0; } }
    header .down-arrow .blinkme:hover {
      animation: none; }

#intro-list {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../img/coat.jpg");
  background-size: cover;
  background-position: center;
  color: #29638E;
  margin: auto 0; }
  #intro-list div {
    width: 300px;
    margin: auto; }
    #intro-list div ul {
      text-align: left; }
      #intro-list div ul li {
        font-size: .8em;
        font-family: 'Raleway' , sans-serif;
        font-weight: 400; }

@media (min-width: 768px) {
  header p {
    width: 80%;
    font-size: 1.25em; }
  header .down-arrow {
    font-size: 2em; }

  #intro-list {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #intro-list div {
      width: auto;
      margin: auto; }
      #intro-list div p {
        font-size: 1.5em; }
      #intro-list div ul li {
        font-size: 1.25em; } }
@media (min-width: 992px) {
  header p {
    width: 70%; }
  header .down-arrow {
    font-size: 2.5em; } }
@media (min-width: 1200px) {
  header p {
    width: 750px; }
  header .down-arrow {
    font-size: 3em; } }
/*.content {
  display:none;
}
.preload {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    margin-top: 20px;
  }
}*/
#positions {
  padding-bottom: 100px; }
  #positions .position {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #29638E; }

@media (min-width: 768px) {
  #positions {
    padding-bottom: 0px; }
    #positions .position {
      margin: 0;
      padding-top: 0px;
      padding-bottom: 0px;
      height: 500px; }
      #positions .position #dentist {
        background-image: url("../img/dentist.jpg");
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      #positions .position #dental-hygienist {
        background-image: url("../img/dental-hygienist.jpg");
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      #positions .position #dental-assistant {
        background-image: url("../img/dental-assistant.jpg");
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      #positions .position #front-office-staff {
        background-image: url("../img/office-manager.jpg");
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
      #positions .position .position__content {
        top: 25%; } }
#about {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #3BB487; }
  #about h2 {
    color: #ffffff;
    margin-bottom: 10px; }
  #about p {
    color: #ffffff;
    margin-bottom: 30px; }
  #about #about-advdental ul {
    margin-top: 30px;
    text-align: left; }
    #about #about-advdental ul li {
      color: #ffffff;
      font-size: .8em;
      font-family: 'Raleway' , sans-serif;
      font-weight: 400; }
  #about #about-nav {
    text-align: center;
    margin-bottom: 10px;
    background-color: #29638E;
    padding: 30px; }
    #about #about-nav ul {
      display: inline;
      color: #ffffff;
      font-size: 1.25em;
      font-family: 'Raleway' , sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px; }
      #about #about-nav ul li {
        display: inline-block;
        color: #ffffff;
        font-family: 'Raleway' , sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px; }
      #about #about-nav ul li:hover {
        cursor: pointer; }
      #about #about-nav ul .active {
        border-bottom: 4px solid #ffffff; }
  #about #about-mindy {
    display: none; }
    #about #about-mindy img {
      margin-bottom: 20px; }

@media (min-width: 768px) {
  #about #about-advdental ul li {
    font-size: 1.25em; }
  #about #about-nav ul {
    font-size: 1.5em; } }
#info {
  padding-top: 85px;
  padding-bottom: 100px;
  background-color: #29638E; }
  #info #resources .resource {
    margin: 0;
    padding: 0; }
  #info #referral h3 {
    color: #3BB487; }

#contact {
  padding-top: 85px;
  padding-bottom: 100px;
  color: #29638E; }
  #contact #forms-nav {
    text-align: center;
    margin-bottom: 10px;
    background-color: #29638E;
    padding: 30px; }
    #contact #forms-nav ul {
      display: inline;
      color: #ffffff;
      font-size: 1em;
      font-family: 'Raleway' , sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 1px; }
      #contact #forms-nav ul li {
        display: inline-block;
        color: #ffffff;
        font-family: 'Raleway' , sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 1px; }
      #contact #forms-nav ul li:hover {
        cursor: pointer; }
      #contact #forms-nav ul .active {
        border-bottom: 4px solid #ffffff; }
  #contact #applicant-form {
    display: none; }

@media (min-width: 768px) {
  #contact #forms-nav ul {
    font-size: 1.5em; } }
footer {
  background-color: #29638E;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
